
Debug/chess_sfml.exe
*.exe
*.o
/Debug/
x64/Debug/chess_sfml.log
.vs/chess_sfml/v15/.suo
.vs/chess_sfml/v15/Browse.VC.db
.vs/chess_sfml/v15/Browse.VC.opendb
.vs/chess_sfml/v15/ipch/AutoPCH/a0c1aabd419aabb0/MAIN.ipch
.vs/chess_sfml/v15/ipch/AutoPCH/2a13a08627366268/MAIN.ipch
.vs/chess_sfml/v15/ipch/AutoPCH/c0e20edb805c94a9/UCI.ipch
.vs/chess_sfml/v15/ipch/AutoPCH/c8e6a9316d522493/MAIN.ipch
.vs/chess_sfml/v15/ipch/AutoPCH/d87523e464ff4638/MAIN.ipch
